.Contact {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/images/contact-us.jpg);
    min-height: 800px;
}

.Contact > div {
    padding-top:250px;
    padding-right: 100px;
    position: relative;
}

.ContactForm {
    grid-column-start: 2;
    grid-column-end: 3;
    /*
    grid-row-start: 1;
    grid-row-end: 3;*/
    padding-top: 40px;
    padding-left: 100px;
    position: absolute;
}

