* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: 0;
}

/* Defining colours to standardise, reduce typos and allow easier specification */
:root {
--blue-color: #2B4451;
--brown-color: #BA8B69;
--grey-color: #B7C7D4;
}

/* Used on the Welcome section */
h1 {
  color: white;
  font-size: 55px;
  margin: 0px;
}

/* Used for section headings */
h2 {
  text-align: center;
  padding-top: 70px;
  color:  var(--blue-color);
  font-size: 18px;
}

/* Used on the welcome section */
h3 {
  color:  var(--blue-color);
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 18px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
